<!DOCTYPE html>

<html lang="en-US">

  <head>
    <title>Headsupper</title>
  </head>
  <body>
    <style>
      @font-face {
          font-family: 'Fira Sans';
          font-style: normal;
          font-weight: 400;
          src: url('https://mozilla.org/media/fonts/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
               url('https://mozilla.org/media/fonts/FiraSans-Regular.woff') format('woff'),
               url('https://mozilla.org/media/fonts/FiraSans-Regular.ttf') format('truetype');
      }
      body {
        background: #4c98c3 radial-gradient(ellipse farthest-side at left top , #7ca1c2 0px, transparent 100%) no-repeat scroll 0% 0% / auto 640px;
        font-family: 'Fira Sans', 'Arial';
        color: white;
        margin: 0 auto;
        width: 80%;
        text-align: center;
      }
      header {
        font-size: 1.2 rem;
      }
      footer {
        margin-top: 2rem;
        font-size: 0.9rem;
      }
    </style>
    <header>
      <h1>Headsupper</h1>
    </header>

    <p>Not much to say here yet.</p>
    <p>
        See
        <a href="https://github.com/peterbe/headsupper">https://github.com/peterbe/headsupper</a>
    </p>
  </body>
</html>
