{% extends "headsupper/base.jinja" %}

{% block page_title %}Headsupper{% endblock %}

{% block extrajs %}
{% javascript 'react' %}
{% endblock %}

{% block content %}
<h1 id="title">Headsupper</h1>

{% if request.user.is_authenticated() %}
  <p>You're <b>authenticated</b> {{ request.user.username }}!</p>
  <p><a href="/accounts/logout/">Log out</a></p>

  <h2 class="ui dividing header">
    1. Prepare an endpoint
  </h2>
  <form method="post" id="form">
  </form>

  <h2 class="ui dividing header">
    2. Tell GitHub about it
  </h2>
  <ol>
    <li>Go to your repository's Settings page</li>
    <li>Click on <b>Webhooks &amp; services</b></li>
    <li>Click the "Add webhook" button</li>
    <li>
      <ol>
        <li>On <b>Payload URL</b> type in <code>{{ payload_url }}</code></li>
        <li>On <b>Content type</b> leave it set to <code>application/json</code></li>
        <li>On <b>Secret</b> type in <code></code></li>
        <li>On <b>Which events would you like to trigger this webhook?</b> keep to on
          <code>Just the push event</code></li>
        <li>Leave the <b>Active</b> checkbox on</li>
      </ol>
    </li>
    <li>Press the green <b>Add webhook</b> button</li>
  </ol>
{% else %}
  <p>You're nobody</p>
  <p><a href="/accounts/github/login/">Log in</a></p>
{% endif %}

{% endblock %}
